{% extends "index.html" %}
{% block title %} Data {% endblock %}

{% block content %} 
  <a href="/">Home</a>
  <h2>sensordata</h2>
  <table style="width:90%">
    <tr>
      <th>TimeStamp</th>
      <th>WaterLevel</th> 
      <th>WaterVolume</th>
      <th>Light</th>
    </tr>
    <!--matricedata est une variable envoye par flask dans app.py-->
    {% for x in matricedata %}
      <tr>
        <td>{{x[0]}}</td>
        <td>{{x[1]}}</td>
        <td>{{x[2]}}</td>
        <td>{{x[3]}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
